.add-form-instrument {
    width: 95%;
    margin-top: 10px;
    background-color: rgb(101, 99, 99);
    height: 140px;
    border-radius: 7px;
    color: white;
    display: none;
    border: 2px solid black;
    height: 0px;
    opacity: 0;
    animation: showForm 1s forwards;
    margin-bottom: 10px;

}

@keyframes showForm {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 140px;
        opacity: 1;
    }
}

label {
    margin: 15px;
}

input {
    padding-left: 5px;
    border-radius: 7px;
}

.add-btn {
    margin-left: 15px;
}

#name {
    margin-left: 67px;
}

#diameter {
    margin-left: 43px;
}

#height {
    margin-left: 43px;
}

#tooth {
    margin-left: 14px;
}

#price {
    margin-left: 150px;
}

.visible {
    display: block;

}

@media screen and (max-width: 768px) {
    .add-form-instrument {
        min-width: 460px;
    }
}