:root {
    --banner-img: url('../assets/Images/headerbackground.jpg');
    --bg-color: rgb(240, 240, 240);
    --text-color: black;
    --border-color: rgba(0, 0, 0, 0.6);
    --link-color: rgb(255, 238, 5);
    --nav-bar-color: rgba(0, 0, 0, 0.75);
    --footer-bg-color: rgba(61, 90, 128, 0.8);
    --footer-text-color: #ffee05;
    --footer-text-hover: rgba(61, 90, 128, 0.8);
    --active-instrument: rgb(186, 184, 184);
    --buttons-color: white;
    --header-shadow: 10px 15px 20px rgba(255, 238, 5, 0.4);
    --footer-shadow: 10px 15px 20px rgba(61, 90, 128, 0.4);
    --main-shadow: 10px 15px 20px rgba(255, 255, 255, 0.4);
}

.dark {
    --banner-img: url('../assets/Images/headerbackground-dark.jpg');
    --bg-color: rgb(24, 24, 24);
    --text-color: rgb(227, 226, 226);
    --border-color: rgba(255, 55, 0, 0.6);
    --link-color: rgba(0, 0, 0, 0.6);
    --nav-bar-color: rgba(255, 55, 0, 0.6);
    --footer-bg-color: rgba(0, 0, 0, 0.8);
    --footer-text-color: rgba(255, 55, 0, 0.6);
    --footer-text-hover: rgb(255, 238, 5);
    --active-instrument: rgb(90, 15, 15);
    --buttons-color: rgb(90, 15, 15);
    --header-shadow: 10px 15px 20px rgba(90, 15, 15, 0.4);
    --footer-shadow: 10px 15px 20px rgba(90, 15, 15, 0.4);
    --main-shadow: 10px 15px 20px rgba(90, 15, 15, 0.4);
}