.red {
    background-color: red;
}

.mill-photo {
    width: 148px;
    border: 1px solid black;
    border-radius: 7px;
}

.mill-property {
    padding-left: 30px;
    padding-top: 20px;
    width: 60%;
}

.mill-price {
    margin-top: 40px;
    width: 20%;
}

.mill-price p {
    display: flex;
    margin: 70px 0 0 100px;

}

.center {
    display: flex;
}

.delete-logo {
    margin-top: 20px;
    margin-right: 20px;
    display: inline-flex;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.hide {
    display: none;
}

@media screen and (max-width: 1000px) {
    .mill-photo {
        width: 90px;
    }

    .mill-property {
        padding-left: 10px;
        padding-top: 0px;
    }

    .mill-price {
        margin-top: 30px;
        width: 10%;
    }

    .mill-price p {
        margin: 0;
    }

    .mill-comp {
        height: 100px;
    }

    .delete-logo {
        margin-top: 35px;
        width: 30px;
        height: 30px;
        cursor: pointer;
    }



}