.head {
    display: flex;
    padding: 15px 0;
    border-radius: 7px 7px 0 0;
}

.app-logo {
    margin-left: 20px;
    margin-bottom: 20px;
    background: linear-gradient(rgb(255, 255, 255), rgb(64, 61, 61));
    border-radius: 35px;
    padding: 2px;
}

.contact-info {
    margin: 0;
    padding: 10px 30px 0 0;
    font-size: 16px;
}

.contact-info a {
    color: #ffee05;
    padding: 2px;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: none;
    border-radius: 2px;
    background-color: rgba(255, 238, 5, 0.8);
    color: rgba(0, 0, 0)
}

.contact-info p {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

.instrument-zone {
    margin: 0;
}

.dayAndNightMode {
    height: 40px;
    padding: 0;
    margin-top: -10px;
    background-color: rgb(255, 247, 0);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid black;
}

.language-select {
    display: flex;
    height: 40px;
    width: 40px;
    padding: 0;
    justify-content: center;
    background-color: transparent;
    border: 0px;
    cursor: pointer;
}

.ua {
    background-image: url(../../../assets/Images/ua.png);
}

.en {
    background-image: url(../../../assets/Images/en.png);
}

@media screen and (max-width: 768px) {

    .contact-info {
        padding: 0;
        margin: 0;
        margin-left: -70px;
    }
}