.head {
    display: flex;
    padding: 15px 0;
    border-radius: 7px 7px 0 0;
}

.app-logo {
    margin-left: 20px;
    margin-bottom: 20px;
    background: linear-gradient(rgb(255, 255, 255), rgb(64, 61, 61));
    border-radius: 35px;
    padding: 2px;
}

.contact-info {
    margin: 0;
    padding: 10px 30px 0 0;
    font-size: 16px;
}

.contact-info a {
    color: #ffee05;
    padding: 2px;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: none;
    border-radius: 2px;
    background-color: #ffee05;
    color: rgba(61, 90, 128)
}

.contact-info p {
    color: rgb(255, 255, 255);
    font-weight: 700;
}

@media screen and (max-width: 768px) {

    .contact-info {
        padding: 0;
        margin: 0;
        margin-left: -70px;
    }
}