.header {
    min-width: 430px;
    margin-bottom: 25px;
    box-shadow: var(--header-shadow);
    border-radius: 7px;
    background-image: var(--banner-img);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .header {
        background-size: cover;
    }
}