nav {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
    border-radius: 0 0 7px 7px;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, .15);
}

nav li {
    display: inline-block;
    list-style: none;
}

nav a {
    font-size: 18px;
    color: var(--nav-bar-color);
    display: inline-block;
    margin: 10px 10px 30px 10px;
    padding: 7px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--nav-bar-color);
    color: #ffee05;
}

nav .active {
    text-decoration: none;
    border-radius: 4px;
    background-color: var(--nav-bar-color);
    color: #ffee05;
}

@media screen and (max-width: 768px) {
    nav li a {
        margin: 0;
        margin-top: -20px;

    }
}