.header {
    min-width: 430px;
    margin-bottom: 25px;
    box-shadow: 20px 15px 20px rgba(255, 238, 5, 0.4);
    border-radius: 7px;
    background-image: url(../../img/headerbackground1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
    .header {
        background-size: cover;
    }
}