.footer {
    padding-top: 3rem;
    height: 50px;
    margin-top: 30px;
    background-color: rgba(61, 90, 128, 0.8);
    color: #ffee05;
    display: flex;
    list-style-type: none;
    vertical-align: middle;
    box-shadow: 20px 15px 20px rgba(61, 90, 128, 0.4);
    border-radius: 7px;
}

.footer a {
    color: #ffee05;
    font-weight: bold;
    text-decoration: none;
    font-style: oblique;
    padding: 3px;

}

.footer a:hover {
    background-color: #ffee05;
    border-radius: 5px;
    color: rgba(61, 90, 128);
}