.add-form-instrument {
    width: 96%;
    margin-top: 10px;
    background-color: var(--bg-color);
    height: 140px;
    border-radius: 7px;
    color: var(--text-color);
    display: none;
    border: 2px solid var(--border-color);
    height: 0px;
    opacity: 0;
    animation: showForm 1s forwards;
    margin-bottom: 10px;

}

@keyframes showForm {
    0% {
        height: 0px;
        opacity: 0;
    }

    100% {
        height: 140px;
        opacity: 1;
    }
}

label {
    margin: 15px;
}

input {
    margin-top: 2px;
    padding-left: 5px;
    border-radius: 7px;
    border: 1px solid var(--border-color);
}

input:focus {
    color: var(--text-color);
    background-color: var(--active-instrument);
}

.add-btn {
    margin-left: 15px;
    cursor: pointer;
}

#name {
    margin-left: 67px;
}

#diameter {
    margin-left: 43px;
}

#height {
    margin-left: 43px;
}

#tooth {
    margin-left: 14px;
}

#price {
    margin-left: 150px;
}

.visible {
    display: block;

}

@media screen and (max-width: 1000px) {
    .add-form-instrument {
        min-width: 460px;
    }
}