.company-main-info {
    color: var(--text-color);
    border-radius: 10px;
    padding: 30px 0 0 30px;
    background-color: var(--bg-color);
    box-shadow: var(--shadow);
    margin: 0 auto;
    padding: 20px;
}

.company-main-info h2 {
    text-align: center;
}

.employee-card {
    display: flex;
    border: 2px solid var(--border-color);
    border-radius: 7px;
    margin: 20px auto;
    padding: 10px;
}