.banner video {
    width: 33.2%;
    object-fit: cover;
}

.banner {
    display: flex;
    height: 190px;
    margin-bottom: 25px;
    box-shadow: 10px 15px 20px rgba(184, 184, 182, 0.4);
}

.label {
    position: absolute;
    width: 100%;
    z-index: 3;
    margin-top: 40px;
    text-align: center;
}

h1 {
    min-width: 460px;
    font-size: 80px;
    color: rgb(216, 211, 211);
    letter-spacing: 50px;
    margin-left: 40px;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #302e2e;

}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    .banner {
        height: auto;
    }
}